*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(pexels-fatih-doğrul-13977550.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
form{
    margin-top: 50px;
    text-align: center;
}
input{
    display: block;
    width: 350px;
    height: 40px;
    border: none;
    margin: 20px;
    outline: none;
    font-size: 20px;
    background-color: transparent;
    border-bottom: 1px solid rgb(190, 179, 179);
}
input::placeholder{
    color: rgb(211, 193, 193);
}
button{
    width: 350px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: rgb(245, 248, 250, .5);
}
button:hover{
    background-color: rgb(255, 255, 255 ,.7);
    border: none;
}
@media(max-width:768px){
    form{
        margin: auto;
    }
}
@media(min-width:1024px){
    form{
        margin: auto;
    }
}